body {
    background-color: #fff;;
    background-image: none;
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
}

#header-wrapper {
    display: none;
}

#header {
    display: none;
}

#main-menu {
    display: none;
}

.spacer {
    display: none;
}

#container {
    border: none;
    margin: 0;
    border: 0;
    width: 100%;
}

a.button,
input[type="button"],
input[type="submit"]{
    display: none;
}


.drop-shadow {
   position:relative;
   width:90%;
}

.drop-shadow:before,
.drop-shadow:after {
    display: none;
}

.drop-shadow:after{
    display: none;
 }
 
 #footer-wrapper {
    display: none;
 }
 
/* #footer {
     color: #000;
 }*/