body {
    background-color: #fff;
    background-image: none;
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
}

#header-wrapper,
#header,
#main-menu,
.spacer,
a.button,
input[type="button"],
input[type="submit"],
.drop-shadow:before,
.drop-shadow:after,
#footer-wrapper,
#expand {
    display: none;
}

#container {
    border: none;
    margin: 0;
    border: 0;
    width: 100%;
}

.drop-shadow {
   position:relative;
   width:90%;
}
